{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Imageshop plugin for Craft CMS 3.x
 *
 * ImageShopField Field Input
 *
 * @author    WebDNA
 * @copyright Copyright (c) 2022 WebDNA
 * @link      https://webdna.co.uk
 * @package   Imageshop
 * @since     2.0.0
 */
#}

{% import "_includes/forms" as forms %}


<div id="imageshop-{{ field.id }}" data-id="{{ namespace }}imageshop" data-current-language="{{ field.getCurrentAdminLanguage() }}">

    <div class="mb-2">
        <div class="imageshop-preview element removable large hasthum" data-imageshop-list>
            {% if value ?? false %}
                {% if value is array %}
                    {% include 'imageshop-dam/_components/fields/input-list.twig' with {
                        images: value,
                        language: field.getCurrentAdminLanguage(),
                    } %}
                {% else %}
                    {% if value.image %}
                        {% include 'imageshop-dam/_components/fields/input-list.twig' with {
                            images: [value.image],
                            language: field.getCurrentAdminLanguage(),
                        } %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>

    <button type="button" class="imageshop-trigger add icon dashed btn">{{ 'buttonText'|t('imageshop-dam') }}</button>
    {{ forms.hidden({
        id: id ~ namespace,
        name: name,
        value: valueArray|json_encode,
    })|attr({class: 'imageshop-value'}) }}
</div>

{% css %}
.imageshop-img-container{
    padding: 1rem;
    background-color: var(--gray-050);
    box-shadow: 0 2px 6px -1px rgba(0,0,0,.05);
    margin-bottom: 1rem;
}
.imageshop-label{
    margin-top: 0.5rem;
    font-weight: bold;
}
.imageshop-preview{
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
    gap: 1rem;
}
.imageshop-img-container{
    width: 230px;
    img{
        width: 100%;
        height: 100px;
        object-fit: contain;
    }
}
.imageshop-img-container__alt{
    margin-top: 0.5rem;
}
.imageshop-img-container{
    position: relative;
}

.imageshop-img-container__reorder{
    position: absolute;
    top: 1px;
    left: 5px;
}
.imageshop-img-container__remove{
    position: absolute;
    top: 0px !important;
    right: 5px !important;
}
.imageshop-img-container__alt-top{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.imageshop-img-container__alt-hide{
    font-weight: bold;
    /*margin-bottom: 0.3rem;*/
    text-transform: uppercase;
}
.imageshop-img-container__alt-label{
    padding-right: 0px !important;
}
.imageshop-img-container__alt-trigger{
    /*font-weight: bold;*/
}
.imageshop-img-container__settings{
    cursor: pointer;
    position: absolute;
    left: 6px;
    top: 24px;
}
.imageshop-img-container-icon{
    opacity: 0;
    transition: 0.3s;
}
.imageshop-img-container:hover .imageshop-img-container-icon{
    opacity: 1;
}
{% endcss %}