{% for image in images %}
    <div class="imageshop-img-container" data-imageshop-image-wrapper>
        <a class="move icon imageshop-img-container__reorder imageshop-img-container-icon" title="{{ 'Reorder'|t('imageshop-da') }}" aria-label="{{ 'Reorder'|t('imageshop-da') }}" role="button">&nbsp;</a>
        <span data-imageshop-trigger-settings data-icon="settings" class="imageshop-img-container__settings imageshop-img-container-icon" title="{{ 'Show settings'|t('imageshop-da') }}"></span>
        <a class="delete icon imageshop-remove imageshop-img-container__remove imageshop-img-container-icon" title="{{ 'Remove image'|t('imageshop-da') }}" data-img-code="{{ image.code }}"></a>
        <div class="imageshop-img-container__wrapper">
            <img src="{{ image.getResizedUrl(400) }}" width="100">
        </div>
        <div class="imageshop-label">
            <div class="label">
                <span class="title">
                    {{ image.getAdminLabel(language) }}
                </span>
            </div>
        </div>
        <div data-imageshop-alt-wrapper hidden>

        <div class="imageshop-img-container__alt">
            <div class="imageshop-img-container__alt-top">
                <label for="alt-{{ image.code }}" class="label imageshop-img-container__alt-label">{{ 'Alternative text'|t('imageshop-da') }} - {{ language }}:</label>
            </div>
            <textarea name="alt-{{ image.code }}" class="text fullwidth" rows="6" data-alt-text>{{ image.getAltText(language) }}</textarea>
        </div>

        <div class="imageshop-img-container__alt">
            <div class="imageshop-img-container__alt-top">
                <label for="description-{{ image.code }}" class="label imageshop-img-container__alt-label">{{ 'Description'|t('imageshop-da') }} - {{ language }}:</label>
            </div>
            <textarea name="description-{{ image.code }}" class="text fullwidth" rows="6" data-description-text>{{ image.getDescription(language) }}</textarea>
        </div>

        </div>
    </div>
{% endfor %}